/*
    DEMO STYLE
*/
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

@font-face {
    font-family: Montserrat-Regular;
    src: url('./fonts/montserrat/Montserrat-Regular.ttf');
}
  
@font-face {
    font-family: Montserrat-Medium;
    src: url('./fonts/montserrat/Montserrat-Medium.ttf');
}

.container {
    width: 100%;
    padding-top: 0;
    padding-bottom: 40px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto; }
    @media (min-width: 576px) {
      .container {
        max-width: 540px; } }
    @media (min-width: 768px) {
      .container {
        max-width: 720px; } }
    @media (min-width: 992px) {
      .container {
        max-width: 960px; } }
    @media (min-width: 1200px) {
      .container {
        max-width: 1140px; } }

body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa; 
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}
.content{
    margin-bottom: 20px;
    padding: 0 !important;
}
.navbar {
    padding-bottom: 10px;
    background:none;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}


.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line{
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}
form ol,form ul ,.sn{
    list-style: none;
    padding:0;
}
.bli{
    color: rgba(255, 255, 255, 0.55);
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #312450;
    color: rgba(255, 255, 255, 0.35);
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    text-align: center;
    background: #312450;
}

#sidebar ul.components {
    padding: 20px 0;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    text-align: center;
}
#sidebar ul li a:hover {
    color: #fff;
    /* background: #fff; */
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
}


a[data-toggle="collapse"] {
    position: relative;
}

a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
    content: '\e259';
    display: block;
    position: absolute;
    right: 20px;
    font-family: 'Glyphicons Halflings';
    font-size: 0.6em;
}
a[aria-expanded="true"]::before {
    content: '\e260';
}


ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}
a.download {
    background: #fff;
    color: #7386D5;
}
a.article, a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}


/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
    width: calc(100% - 250px);
    padding-left:40px;
    padding-right:40px ;
    padding-bottom: 30px;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}
#content.active {
    width: 100%;
}


/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #content {
        width: 100%;
    }
    #content.active {
        width: calc(100% - 250px);
    }
    #sidebarCollapse span {
        display: none;
    }
}

/* my */

/*...... a tag. in login.. */
.forgot{
    margin: 5px;
    padding: 10px;
    opacity: .5 !important;
}
.forgot:hover{
    opacity: 1 !important;
}
/* Intro */
/* <.........................................................> */
.loginm{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    margin: 0px;
    box-sizing: border-box;
    
}
/* ...........................login............................. */
.loginm .med{
    width: 670px;
    /* background: #fff; */
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    justify-content: center;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}
/* <..........................................................> */
/* Wrapper */

.wrapper {
    position: relative;
}

    .wrapper > .inner {
        padding: 5em 5em 3em 5em ;
        max-width: 100%;
        width: 75em;
    }

        @media screen and (max-width: 1680px) {

            .wrapper > .inner {
                padding: 4em 4em 2em 4em ;
            }

        }

        @media screen and (max-width: 1280px) {

            .wrapper > .inner {
                width: 100%;
            }

        }

        @media screen and (max-width: 736px) {

            .wrapper > .inner {
                padding: 3em 2em 1em 2em ;
            }

        }

.intros{
    width:100% !important;
}
#intro{
    background-attachment: fixed;
    background-image: url("images/intro.svg");
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: #5e42a6;
    color: #fff;
    width: 80%;
    height: 100%;
}


    #intro p {
        font-size: 1.25em;
    }

        @media screen and (max-width: 980px) {

            #intro p br {
                display: none;
            }

        }

        @media screen and (max-width: 736px) {

            #intro p {
                font-size: 1em;
            }

        }

    @media screen and (max-width: 1280px) {

        #intro {
            background-attachment: scroll;
        }

    }
    #sidebar a {
        position: relative;
        padding-bottom: 2px;
        text-decoration: none;
        
      }

    /* side bar ........ */
    #sidebar a:hover::after , #sidebar .active a::after{
        content: "";
        position: absolute;
        bottom: 2px;
        left: 0;
        height: 3px;
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        background-image: -moz-linear-gradient(to right, #5e42a6, #b74e91);
        background-image: -webkit-linear-gradient(to right, #5e42a6, #b74e91);
        background-image: -ms-linear-gradient(to right, #5e42a6, #b74e91);
        background-image: linear-gradient(to right, #5e42a6, #b74e91);
    }


    .ud{
        position: relative;
        padding-bottom: 2px;
        text-decoration: none;
    }
    .ud::after{
        content: "";
        position: absolute;
        bottom: 2px;
        left: 0;
        height: 2px;
        width: 100%;
        margin-left: 0%;
        margin-right: 0%;
        background-image: -moz-linear-gradient(to right, #b74e91,#a32052);
        background-image: -webkit-linear-gradient(to right, #b74e91,#a32052);
        background-image: -ms-linear-gradient(to right, #b74e91,#a32052);
        background-image: linear-gradient(to right, #b74e91,#a32052);
    }
        
/* Button */
.button {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    -moz-transition: border-color 0.2s ease;
    -webkit-transition: border-color 0.2s ease;
    -ms-transition: border-color 0.2s ease;
    transition: border-color 0.2s ease;
    background-color: transparent;
    border: solid 1px !important;
    border-color: rgba(255, 255, 255, 0.15) !important;
    border-radius: 3em;
    color: #ffffff !important;
    cursor: pointer;
    display: inline-block;
    font-size: 0.6em;
    font-weight: bold;
    height: calc(4.75em + 2px);
    letter-spacing: 0.25em;
    line-height: 4.75em;
    outline: 0;
    padding: 0 3.75em;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
    margin-left:15px;
}

    .button:after {
        -moz-transform: scale(0.25);
        -webkit-transform: scale(0.25);
        -ms-transform: scale(0.25);
        transform: scale(0.25);
        pointer-events: none;
        -moz-transition: opacity 0.2s ease, -moz-transform 0.2s ease;
        -webkit-transition: opacity 0.2s ease, -webkit-transform 0.2s ease;
        -ms-transition: opacity 0.2s ease, -ms-transform 0.2s ease;
        transition: opacity 0.2s ease, transform 0.2s ease;
        background: #ffffff;
        border-radius: 3em;
        content: '';
        height: 100%;
        left: 0;
        opacity: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }
    table .button{
        border-color: black !important;
        color: black !important;
    }
        
    .button.fit {
        width: 100%;
    }

    
    .button.small {
        font-size: 0.4em;
    }

    
    .button.large {
        font-size: 0.8em;
        
    }

    
    .button.primary {
        background-color: #ffffff;
        color: #312450 !important;
    }

    
    .button.primary:after {
        display: none;
    }

    .button:hover {
        border-color: rgba(255, 255, 255, 0.55) !important;
        /* border-color: black !important; */
        /* color: #5e42a6 !important; */
        /* background-image: linear-gradient(to right,#b74e91,#5e42a6) !important; */
    }
    .button:hover:after {
        opacity: 0.05;
        -moz-transform: scale(1);
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }

    .button:hover:active {
        border-color: #ffffff !important;
    }

    .button:hover:active:after {
        opacity: 0.1;
    }

    

/* Form */

form {
    margin: 2em;
}

    form > :last-child {
        margin-bottom: 0;
    }

    form > .fields {
        display: -moz-flex;
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        -moz-flex-wrap: wrap;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        width: calc(100% + 3em);
        margin: -1.5em 0 2em -1.5em;
    }

        form > .fields > .field {
            -moz-flex-grow: 0;
            -webkit-flex-grow: 0;
            -ms-flex-grow: 0;
            flex-grow: 0;
            -moz-flex-shrink: 0;
            -webkit-flex-shrink: 0;
            -ms-flex-shrink: 0;
            flex-shrink: 0;
            padding: 1.5em 0 0 1.5em;
            width: calc(100% - 1.5em);
        }

            form > .fields > .field.half {
                width: calc(50% - 0.75em);
            }

            form > .fields > .field.third {
                width: calc(100%/3 - 0.5em);
            }

            form > .fields > .field.quarter {
                width: calc(25% - 0.375em);
            }

    @media screen and (max-width: 480px) {

        form > .fields {
            width: calc(100% + 3em);
            margin: -1.5em 0 2em -1.5em;
        }

            form > .fields > .field {
                padding: 1.5em 0 0 1.5em;
                width: calc(100% - 1.5em);
            }

                form > .fields > .field.half {
                    width: calc(100% - 1.5em);
                }

                form > .fields > .field.third {
                    width: calc(100% - 1.5em);
                }

                form > .fields > .field.quarter {
                    width: calc(100% - 1.5em);
                }

    }

label {
    color: #ffffff;
    font-weight: bold;
    line-height: 1.5;
    margin: 0 0 0.7em 0;
    display: block;
    font-size: 1.1em;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="number"],
input[type="date"],
select,
textarea {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 0.25em;
    border: none;
    border: solid 1px rgba(255, 255, 255, 0.15);
    color: inherit;
    display: block;
    outline: 0;
    padding: 0 1em;
    text-decoration: none;
    width: 80%;
}

    input[type="text"]:invalid,
    input[type="password"]:invalid,
    input[type="email"]:invalid,
    input[type="tel"]:invalid,
    input[type="number"]:invalid,
    input[type="date"]:invalid,
    select:invalid,
    textarea:invalid {
        box-shadow: none;
    }

    input[type="text"]:focus,
    input[type="password"]:focus,
    input[type="email"]:focus,
    input[type="tel"]:focus,
    input[type="number"]:focus,
    input[type="date"]:focus,
    select:focus,
    textarea:focus {
        border-color: #ffffff;
        box-shadow: 0 0 0 1px #ffffff;
    }

select {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' preserveAspectRatio='none' viewBox='0 0 40 40'%3E%3Cpath d='M9.4,12.3l10.4,10.4l10.4-10.4c0.2-0.2,0.5-0.4,0.9-0.4c0.3,0,0.6,0.1,0.9,0.4l3.3,3.3c0.2,0.2,0.4,0.5,0.4,0.9 c0,0.4-0.1,0.6-0.4,0.9L20.7,31.9c-0.2,0.2-0.5,0.4-0.9,0.4c-0.3,0-0.6-0.1-0.9-0.4L4.3,17.3c-0.2-0.2-0.4-0.5-0.4-0.9 c0-0.4,0.1-0.6,0.4-0.9l3.3-3.3c0.2-0.2,0.5-0.4,0.9-0.4S9.1,12.1,9.4,12.3z' fill='rgba(255, 255, 255, 0.15)' /%3E%3C/svg%3E");
    background-size: 1.25rem;
    background-repeat: no-repeat;
    background-position: calc(100% - 1rem) center;
    height: 2.75em;
    padding-right: 2.75em;
    text-overflow: ellipsis;
}

    select option {
        color: #ffffff;
        background: #312450;
    }

    select:focus::-ms-value {
        background-color: transparent;
    }

    select::-ms-expand {
        display: none;
    }

input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
input[type="date"],
select {
    height: 2.75em;
}

textarea {
    padding: 0.75em 1em;
}

    body.is-ie textarea {
        min-height: 10em;
    }

input[type="checkbox"],
input[type="radio"] {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    display: block;
    float: left;
    margin-right: -2em;
    opacity: 0;
    width: 1em;
    z-index: -1;
}

    input[type="checkbox"] + label,
    input[type="radio"] + label {
        text-decoration: none;
        color: rgba(255, 255, 255, 0.55);
        cursor: pointer;
        display: inline-block;
        font-size: 1em;
        font-weight: normal;
        padding-left: 2.4em;
        padding-right: 0.75em;
        position: relative;
    }

        input[type="checkbox"] + label:before,
        input[type="radio"] + label:before {
            -moz-osx-font-smoothing: grayscale;
            -webkit-font-smoothing: antialiased;
            display: inline-block;
            font-style: normal;
            font-variant: normal;
            text-rendering: auto;
            line-height: 1;
            text-transform: none !important;
            font-family: 'Font Awesome 5 Free';
            font-weight: 900;
        }

        input[type="checkbox"] + label:beforeore,
        input[type="radio"] + label:before {
            background: rgba(255, 255, 255, 0.05);
            border-radius: 0.25em;
            border: solid 1px rgba(255, 255, 255, 0.15);
            content: '';
            display: inline-block;
            font-size: 0.8em;
            height: 2.0625em;
            left: 0;
            line-height: 2.0625em;
            position: absolute;
            text-align: center;
            top: 0;
            width: 2.0625em;
        }

    input[type="checkbox"]:checked + label:before,
    input[type="radio"]:checked + label:before {
        background: #ffffff;
        border-color: #ffffff;
        color: #b74e91;
        content: '\f00c';
    }

    input[type="checkbox"]:focus + label:before,
    input[type="radio"]:focus + label:before {
        border-color: #ffffff;
        box-shadow: 0 0 0 1px #ffffff;
    }

input[type="checkbox"] + label:before {
    border-radius: 0.25em;
}

input[type="radio"] + label:before {
    border-radius: 100%;
}

::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.35) !important;
    opacity: 1.0;
}

:-moz-placeholder {
    color: rgba(255, 255, 255, 0.35) !important;
    opacity: 1.0;
}

::-moz-placeholder {
    color: rgba(255, 255, 255, 0.35) !important;
    opacity: 1.0;
}

:-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.35) !important;
    opacity: 1.0;
}
/* Actions */

ul.actions {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    cursor: default;
    list-style: none;
    margin-left: -1em;
    padding-left: 0;
}

    ul.actions li {
        padding: 0 0 0 1em;
        vertical-align: middle;
    }

.bb{
    margin-top: 10px;
}
.danger{
    color: red;
}
/* table */
/*//////////////////////////////////////////////////////////////////
[ Table ]*/

.limiter {
    width: 100%;
    margin: 0 auto;
  }
  
  .container-table100 {
    width: 100%;
    min-height: 100vh;
    background: #d1d1d1;
  
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 33px 30px;
  }
  
  .wrap-table100 {
    width: 1300px;
  }
  
  /*//////////////////////////////////////////////////////////////////
  [ Table ]*/
  table {
    width: 100%;
    background-color: #fff;
  }
  
  th, td {
    font-weight: unset;
    padding-right: 10px;
  }
  
  .column100 {
    width: 130px;
    padding-left: 25px;
  }
  
  .column100.column1 {
    width: 265px;
    padding-left: 42px;
  }
  
  .row100.head th {
    padding-top: 24px;
    padding-bottom: 20px;
  }
  
  .row100 td {
    padding-top: 18px;
    padding-bottom: 14px;
  }
  
  
  /*==================================================================
  [ Ver1 ]*/
  .table100.ver1 td {
    font-family: Montserrat-Regular;
    font-size: 14px;
    color: #808080;
    line-height: 1.4;
  }
  
  .table100.ver1 th {
    font-family: Montserrat-Medium;
    font-size: 12px;
    color: #fff;
    line-height: 1.4;
    text-transform: uppercase;
  
    background-color: #36304a;
  }
  
  .table100.ver1 .row100:hover {
    background-color: #f2f2f2;
  }
  
  .table100.ver1 .hov-column-ver1 {
    background-color: #f2f2f2;
  }
  
  .table100.ver1 .hov-column-head-ver1 {
    background-color: #484848 !important;
  }
  
  .table100.ver1 .row100 td:hover {
    background-color: #6c7ae0;
    color: #fff;
  }