{%url 'home' as home%}
{%url 'weeklyview' as week%}
{%url 'monthlyview' as month%}
{%url 'loanview' as loan%}
{%url 'groupdetail' as group%}
{%url 'memmberlist' as memmber%}
{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <title>S-Group</title>

        <!-- Bootstrap CSS CDN -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <!-- Our Custom CSS -->
        <link rel="stylesheet" href="{% static 'app/h/style2.css' %}">
        <!-- Scrollbar Custom CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">

    </head>
    <body id="intro">

        <div class="wrapper">
            <!-- Sidebar Holder -->
            <nav id="sidebar">
                <div class="sidebar-header">
                    <!-- <img src="images/logo.jpeg" alt=""> -->
                    <h3>KD</h3>
                </div>

                <ul id="myDIV" class="list-unstyled components">
                    <li class="active">
                        <a>Hello {{request.user|title}}</a>
                    </li>
                    <br>
                    {%if request.user.is_staff%}
                    <li class="{%if request.path == home %}active{% endif %}" >
                        <a href="{% url 'home' %}" >Home</a>
                    <li class="{%if request.path == week %}active{% endif %}">
                        <a href="{% url 'weeklyview' %}" >Weekly</a>
                    </li>
                    <li class="{% if request.path == month %}active{% endif %}">
                        <a href="{% url 'monthlyview'%}">Monthly Reports</a>
                    </li>
                    <li class="{%if request.path == loan %}active{% endif %}">
                        <a href="{% url 'loanview'%}">Loans</a>
                    </li>
                    <li class="{%if request.path == group %}active{% endif %}">
                        <a href="{% url 'groupdetail'%}">My Group</a>
                    </li>
                    <li class="{%if request.path == memmber %}active{% endif %}">
                        <a href="{% url 'memmberlist'%}">My Group Members</a>
                    </li>
                    {%else%}
                    <li class="active"><a href="{% url 'memmberprofile'%}">Profile</a></li>
                    {%endif%}
                    <li>
                        <a href="{% url 'logout'%}">Logout</a>
                    </li>
                </ul>

            </nav>
        </div>
            <!-- Page Content Holder -->
            <div id="content">
                <nav class="navbar navbar-default containerr">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
                                <i class="glyphicon glyphicon-align-left"></i>
                            </button>
                        </div>

                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <!-- <ul class="nav navbar-nav navbar-right">
                                <li><a href="#">Page</a></li> -->
                            </ul>
                        </div>
                    </div>
                </nav>
                <div>
                        {% if messages %}
                            {%for message in messages%}
                                <div class="alert alert-{{message.tags}} ">
                                    {{message}}
                                </div>
                            {%endfor%}
                        {%endif%}
                        {% block content %}
                        {% endblock %}
                </div>
            </div>
          
            
        <!-- jQuery CDN -->
        <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
        <!-- Bootstrap Js CDN -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <!-- jQuery Custom Scroller CDN -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>

        <script type="text/javascript">
            $(document).ready(function () {
                $("#sidebar").mCustomScrollbar({
                    theme: "minimal"
                });

                $('#sidebarCollapse').on('click', function () {
                    $('#sidebar, #content').toggleClass('active');
                    $('.collapse.in').toggleClass('in');
                    $('a[aria-expanded=true]').attr('aria-expanded', 'false');
                });
            });
        </script>
    </body>
</html>
